html {
    box-sizing: border-box;
 }
 *, *::before, *::after {
    box-sizing: inherit;
 }
body {
    max-width: 100%;
    background: url(../картинки/фон\ сайта.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 220px;
}
.t {
    justify-content: center;
    color:yellow ;
    font-size: 25px;
    display: flex;
    width: 220px;
    padding: 10px;
    background-color:  #e951d68c;
}
.m {
    justify-content: center;
    color:yellow ;
    font-size: 25px;
    display: flex;
    width: 220px;
    padding: 10px;
    background-color:  #e951d68c;
}
.header {
    max-width: 220px;
    margin: 0 auto;
    border-radius: 10px 10px 90px 90px;
    margin-top: 50px;
    background-image: url(../картинки/Арес\ бюст.png);
    min-height: 220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
}
.element {
display: flex;
justify-content: center;
text-align: center;
max-width: 750px;
margin: 20px auto;
font-size: 38px;
color: rgb(230, 122, 59);
border-radius: 10px 10px 10px 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
background-color: rgb(35, 28, 17);
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}
.menu {
    width: calc(33% - 20px);
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px 10px 10px 10px;
    font-size: 28px;
    background: rgba(12, 34, 13, 0.71);
    height: 50px;
    margin: 10px 10px;
}
a {
    color: rgb(244, 236, 9);
    text-decoration: none;
    cursor: grab;
}
a:hover {
    color:  rgb(230, 122, 59);
    text-decoration: underline;
    cursor: grab;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    color: rgb(253, 250, 250);
}
.begin {
    margin-top: 50px;
    font-size: 30px;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(144, 132, 113, 0.502);
    color: WHITE;
}
span {
    font-size: 20px;
}
u {
    font-size: 25px;
}
h2 {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 15px rgba(201, 19, 19, 0.86);
    background-color: rgba(191, 123, 13, 0.502);
    color: rgb(251, 251, 251);
}
#ru {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 250, 250);
}
.last {
    margin-top: 50px;
    font-size: 30px;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(144, 132, 113, 0.502);
    color: rgb(255, 244, 244);
}
.end {
    background: #00ff7f9e;
    padding-left: 20px;
}
h3 {
    padding-top: 20px ;
    text-align: center;
    font-size:35px;
}
footer a {
    color: purple;
    font-size: 25px;
    text-decoration: none;
}
footer a:hover {
    color: red;
}
footer u {
    color: purple;
    font-size: 25px;
    text-decoration: none;
}
footer u:hover {
    color: red;
}
.address {
    padding-bottom: 20px;
}
.footer {
    width: 150px;
    height: 50px;
}
@keyframes myAnimation {
    0% { opacity: 0; }
}
.header {
    animation: myAnimation 3s;
}
.element {
    animation: myAnimation 3s;
}
@media screen and (max-width:770px) {
    .col-md-6 {
        width: calc(50% - 20px);
        margin: 10px auto;
    }
}
@media screen and (max-width:576px) {
    .col-sm-6 {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width:400px) {
    .col-lg-12 {
        width: calc(60% - 20px);
    }
}
@media screen and (max-width:200px) {
    .col-big {
        width: calc(100% - 20px);
        font-size: 20px;
    }
}