html {
    box-sizing: border-box;
 }
 *, *::before, *::after {
    box-sizing: inherit;
 }
 body {
    max-width: 100%;
    background: url(../картинки/about.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 220px;
}
.t {
    justify-content: center;
    color:yellow ;
    font-size: 25px;
    display: flex;
    width: 220px;
    padding: 10px;
    background-color:  #e951d68c;
}
.m {
    justify-content: center;
    color:yellow ;
    font-size: 25px;
    display: flex;
    width: 220px;
    padding: 10px;
    background-color:  #e951d68c;
}
.header {
    max-width: 220px;
    margin: 0 auto;
    border-radius: 10px 10px 90px 90px;
    margin-top: 50px;
    background-image: url(../картинки/Арес\ бюст.png);
    min-height: 220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
}
.navigation {
    display: flex;
    justify-content: center;
}
.menu {
    width: calc(30% - 20px);
    min-width: 220px;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px 10px 10px 10px;
    font-size: 28px;
    background: rgba(12, 34, 13, 0.71);
    height: 50px;
    margin: 50px 10px;
}
h1 {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 15px rgba(201, 19, 19, 0.86);
    background-color: rgba(191, 123, 13, 0.502);
    color: rgb(255, 244, 244);
}
.link {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 20px;
}
.list1 {
    display: flex;
    text-align: left;
    max-width: 300px;
    background-color: #e951d68c;
    border-radius: 6px;
    padding-left: 5px;
}
.list2 {
    display: flex;
    text-align: left;
    max-width: 300px;
    margin-top: 20px;
    background-color: #e951d68c;
    border-radius: 6px;
    padding-left: 5px;
}
.list1 a, .list2 a {
    cursor: grab;
    text-decoration: underline;
    font-size: 25px;
}
.list1 a:hover, .list2 a:hover {
    color: rgb(247, 247, 247);
}
a {
    color: rgb(244, 236, 9);
    text-decoration: none;
    cursor: grab;
}
a:hover {
    color:  rgb(230, 122, 59);
    text-decoration: underline;
    cursor: grab;
}
.baz {
    margin-top: 50px;
    font-size: 30px;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(144, 132, 113, 0.502);
    color: rgb(255, 244, 244);
}
#sar {
    padding-top: 20px ;
    text-align: center;
    font-size:35px;
    color:rgb(255, 255, 255);
}
p {
    font-size: 30px;
    color: aliceblue;
}
.end {
    background: #00ff7f9e;
    padding-left: 20px;
}
h2 {
    padding-top: 20px ;
    text-align: center;
    font-size:35px;
}
footer a {
    color: purple;
    font-size: 25px;
    text-decoration: none;
}
footer a:hover {
    color: red;
}
footer u {
    color: purple;
    font-size: 25px;
    text-decoration: none;
}
footer u:hover {
    color: red;
}
.address {
    padding-bottom: 20px;
}
.footer {
    width: 150px;
    height: 50px;
}
@keyframes myAnimation {
    0% { opacity: 0; }
}
.header {
    animation: myAnimation 3s;
}
@media screen and (max-width:770px) {
    .col-md-6 {
        width: calc(50% - 20px);
        margin: 10px auto;
    }
}